<!-- views/partials/header.ejs -->
<nav class="codrops-demos">
  <a href="/api">Home</a>
  <a href="/api/bilder">Bilder</a>
  <a href="/api/videos">Vidois</a>
  <a href="/api/artgallery">Art Gallery</a>
  <a href="/api/hogst">Hogst</a>
  <a href="/api/panel">HABPanel</a>
  <a href="/api/about">About</a>
</nav>
