img {
    width: 200px;
    height: 400px;
    object-fit: cover;
}
body {
     background: rgba(76, 175, 80, 0.3) ;
     background-repeat: no-repeat;
     background-position: right top;
     background-attachment: fixed;
}
.footer{
  width: 20px;
  height: 40px;
}
.background-image{
  opacity: 0.5;
    filter: alpha(opacity=50); /* For IE8 and earlier */
}
.jumbotron{
  opacity: 0.9;
}
.well{
    opacity: 0.7;
}

h2 {
  text-align: center;
  padding: 20px 0;
}

.table-bordered {
  border: 1px solid #ddd !important;
}

table caption {
	padding: .5em 0;
}

@media screen and (max-width: 767px) {
  table caption {
    display: none;
  }
}

.p {
  text-align: center;
  padding-top: 140px;
  font-size: 14px;
}
