<!DOCTYPE html>
<head>
    <% include ../partials/head %>
</head>

<header>
    <% include ../partials/header %>
</header>

<body>
<div >
    <div >
        <div >
            <h1> <%= title %></h1>
            <p>Ja, hva lurer du abaout</p>
        </div>
    </div>

    <div>
      <div class="card">
        <img class="imgCard" src="/media/meg.jpg" alt="Fartøysjefen" style="width:10%">
          <div class="container">
            <h4><b>Arne Moe-Gumø</b></h4>
            <p>Fartøysjef</p>
          </div>
      </div>
    </div>
</div>

</main>

<footer>
    <% include ../partials/footer %>
</footer>

</body>
</html>
