<!-- views/pages/about.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="stylesheet" href="/minstil.css">
    <% include ../partials/head %>
</head>
<body class="container">

<header>
    <% include ../partials/header %>
</header>

<main>
<div class="row">
    <div class="col-sm-8">
        <div class="jumbotron">
            <h1> <%= title %></h1>
            <p>Ja, hva lurer du abaout</p>
        </div>
    </div>

    <div class="col-sm-4">
        <div class="well">
            <h3>logo for mi eiga røysle</h3>
            <img src="/logo.jpg" alt="">
        </div>
    </div>

</div>
</main>

<footer>
    <% include ../partials/footer %>
</footer>

</body>
</html>
