<!-- views/pages/index.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
    <script src="https://code.jquery.com/jquery-1.12.3.min.js"></script>
    <script src="http://localhost:4000/gallery.js"></script>
    <link rel="stylesheet" href="http://localhost:4000/gallery.css">
</head>
<header>
    <% include ../partials/header %>
</header>

<main>

        <div class="container">
          <div class="row">
            <div class="pic-container">
              <div class="parent">
                <div class="wrapper thumb-1">
                  <div class="content">
                    <div class="img"><img src="/art/<%= filelist[0] %>" /></div>
                    <div class="text">Text - filnavnet er <strong><%=filelist[0]%></strong>                      <div class="line title"></div>
                      <div class="line subtitle">Subtitle</div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

</main>

<footer>
    <% include ../partials/footer %>
</footer>


</html>
