<!DOCTYPE html>
<html>
<head>
  <% include ../partials/head %>
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<header>
    <% include ../partials/header %>
</header>

<body>

  <div id="outer">
      <div id="video-overlay">
        <video autoplay muted  id="myVideo">
          <source src="/media/vinter.mp4"  type="video/mp4">
          Your browser does not support HTML5 video.
        </video>

        <div id="home-text">
                <h1>Hogst på Rydningen</h1>
                <h3>Det skal hentes ut et antall kubikk hogst i dette området </h3>
                <a href="/api"><strong>Tilbake til hjemmesiden</strong></a>
         </div>
       </div>
    </div>

<div class="content">
  <h1>Rydningen</h1>
  <p>Hogstområdet før hogsten. Januar 2018</p>
</div>


</body>
</html>
