<!-- views/pages/index.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
</head>
<body class="container">

<header>
    <% include ../partials/header %>
</header>

<main>
    <div class="jumbotron">
        <h1><%= myParam %></h1>
        <p>Svad svada svada og lit bla bla bla bla bla bla</p>
    </div>
    

</main>

<footer>
    <% include ../partials/footer %>
</footer>

</body>
</html>
