<!-- views/pages/index.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
</head>
<body class="container">

<header>
    <% include ../partials/header %>
</header>

<main>
    <div class="jumbotron">
        <h1><%= myParam %></h1>
        <p>Svad svada svada og lit bla bla bla bla bla bla</p>
    </div>

    <div class="w3-third">
      <div class="w3-card">
        <img src="Micro120.jpg" style="width:100%">
        <div class="w3-container">
          <h4>Micro 120</h4>
        </div>
      </div>
    </div>
    <div class="w3-third">
      <div class="w3-card">
        <img src="DJ105.jpg" style="width:100%">
        <div class="w3-container">
          <h4>DJ105 - Next Project</h4>
        </div>
      </div>
    </div>


</main>

<footer>
    <% include ../partials/footer %>
</footer>

</body>
</html>
